.products-content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10em 2em;
  gap: 50px;
}

.products-con {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
  position: relative;
}
.products-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.products-filter-left,
.products-filter-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.products-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: calc(0.3rem - 1px);
}
.product-card .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.product-card .category {
  text-transform: uppercase;
}

.category-main {
  position: sticky;
  top: 8em;
  display: flex;
  flex-direction: column;
  width: 20%;
  z-index: 10;
  max-height: 50vh;
  gap: 5px;
}
.category-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
}

.category-items div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category-count {
  font-weight: 500;
}
.category-items p {
  font-weight: 500;
  cursor: pointer;
}
.subcategory-container ul {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 100%;
  gap: 5px;
}
.subcategory-container ul li {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.category-item.active {
  font-weight: bold !important;
}

.subcategory-item.active {
  font-weight: 600 !important;
}

.sort-filter {
  position: relative;
  display: inline-block;
}

.sort-select-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.sort-select-btn span {
  font-weight: 600;
  font-size: 16px;
}

.sort-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  display: inline-block;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  min-width: 250px;
}

.sort-option {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sort-option:hover {
  background-color: #f0f0f0;
}

.sort-option:active {
  background-color: #e1e1e1;
}

.sort-icon {
  transition: transform 0.3s ease;
}

.sort-icon.rotated {
  transform: rotate(45deg);
}

.filter-all-container {
  position: relative;
}

.filter-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.filter-toggle span {
  font-weight: 600;
  font-size: 16px;
}

.price-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 20px;
  position: fixed;
  top: 0;
  right: -550px;
  width: 550px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  padding: 20px;
  padding-top: 5em;
  z-index: 999999999999;
}
.price-filter.open {
  right: 0;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn img {
  display: block;
}
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-icon {
  transition: transform 0.3s ease;
}

.filter-icon.rotated {
  transform: rotate(90deg);
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}
.page-button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.page-button:hover {
  background-color: #e0e0e0;
}

.page-button.active {
  background-color: black !important;
}
.page-button.active p {
  color: white !important;
}

@media (max-width: 1024px) {
  .products-content-container {
    flex-direction: column;
  }
  .products-con,
  .category-main {
    width: 100%;
  }
  .category-main {
    position: static;
  }

  .price-filter {
    right: -100%;
    width: 100%;
  }
}

@media (max-width: 899px) {
  .products-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px;
    width: 100%;
  }
  .products-filter {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}
@media (max-width: 724px) {
  .products-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 30px;
    width: 100%;
  }
}
